<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="javascript:;">
                <img height="14" src="~/images/logo.png" class="logo-default">
            </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <div class="hor-menu hor-menu-light hidden-sm hidden-xs">
            <ul class="nav navbar-nav">
                <li class="classic-menu-dropdown">
                    <a href="#" target="_blank">
                        <i class="icon-social-dropbox"></i>
                        <span class="title">应用中心</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="classic-menu-dropdown">
                    <a href="javascript:;" onclick="bootbox.alert('Comming soon...')">
                        <i class="fa fa-cubes"></i>
                        <span class="title">我的应用</span>
                        <span class="selected"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                        <span class="username">
                            您好,admin
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="index.php?ctl=profile&amp;act=index">
                                <i class="icon-user"></i> 个人信息
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="index.php?ctl=passport&amp;act=logout" target="_command">
                                <i class="icon-logout"></i> 退出
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-user visible-md visible-lg">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                        <span class="username">网站前台</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="/index.html" target="_blank">
                                <i class="icon-desktop"></i> 浏览前台
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="index.php?app=desktop&amp;ctl=cachestage&amp;act=cachemgr_clean" target="_command">
                                <i class="fa fa-refresh"></i> 刷新缓存
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-user visible-md visible-lg">
                    <a class="dropdown-toggle full-screen-handle" href="javascript:;">
                        <span class="username">全屏操作</span>
                        <i class="fa fa-expand"></i>
                        <i class="fa"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
