@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

@section cssSection{

}
@section jsSection{
    <script type="text/javascript">
        var setFrameUrl = function (control) {
            //$("ul.page-sidebar-menu li").removeClass("active");
            //$("span.selected").remove();
            //$("ul.page-sidebar-menu li.open").addClass("active");
            //$(control).parents(".open").find("a:first span.title").after("<span class=\"selected\"></span>");
            //$(control).parent().addClass("active");

            var url = $(control).attr("data-url");
            $.get(url, null, function (conatent) {
                $(".row-content").html(conatent);
            }, "html")
        }
    </script>
}

@Html.Partial("_Header")

<div class="page-container">
    <div class="page-sidebar-wrapper">
        @{ Html.RenderAction("Menu", "SystemMenu"); }
    </div>
    <div class="page-content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">

                </div>
            </div>
            <div class="row-content">
                @*@{Html.RenderAction("Dashboard", "Home");}*@
                @{Html.RenderAction("MenuPage", "SystemMenu");}
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Footer")
