
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}

@section cssSection{
    <link rel="stylesheet" href="~/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/styles/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/styles/animate.min.css" />
    <link rel="stylesheet" href="~/Content/styles/style.min.css" />
    <link rel="stylesheet" href="~/Content/styles/style-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/styles/default.css" />
}
@section jsSection{
    <script type="text/javascript" src="~/Scripts/jquery-migrate-1.1.0.min.js"></script>
    <script type="text/javascript" src="~/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/apps.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
        });
    </script>
}

<div id="page-loader" class="fade in"><span class="spinner"></span></div>
<div class="login-cover">
    <div class="login-cover-image"><img src="~/images/login-bg/bg-1.jpg" data-id="login-cover-image" alt="" /></div>
    <div class="login-cover-bg"></div>
</div>
<div id="page-container" class="fade">
    <div class="login login-v2" data-pageload-addclass="animated flipInX">
        <div class="login-content">
            <div class="form-group m-b-20">
                <input type="text" id="userId" class="form-control input-lg" value="admin" placeholder="用户名" />
            </div>
            <div class="form-group m-b-20">
                <input type="text" id="password" class="form-control input-lg" value="admin" placeholder="密码" />
            </div>
            <div class="form-group m-b-20">
                <input type="text" id="checkCode" style="width:236px; display:inline-block;" class="form-control input-lg" value="Atd3" placeholder="验证码" />
                <img id="valiCode" style="cursor: pointer;display:inline-block;margin-top:-2px;" src="/Account/CreateCheckCode" alt="验证码" onclick="this.src = '/Account/CreateCheckCode?n=' + Math.random();" />
            </div>
            <div class="checkbox m-b-20">
                <label>
                    <input type="checkbox" /> 记住我
                </label>
            </div>
            <div class="login-buttons">
                <button type="button" id="submit" class="btn btn-success btn-block btn-lg">登 &nbsp; 录</button>
            </div>
            <div class="m-t-20">
                <div style="float:left;"><a style="color:#ccc" href="#">忘记密码</a></div>
                <div style="float:right;"><a style="color:#ccc" href="#">注册新用户</a></div>
            </div>
        </div>
    </div>
</div>