@model List<Dot.ERP.Objects.Menu>

@{
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

@section cssSection{
    <link rel="stylesheet" type="text/css" href="~/plugins/media/css/select2_metro.css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/media/css/DT_bootstrap.css" />
}

@section jsSection{
    <script type="text/javascript" src="~/plugins/media/js/select2.min.js"></script>
    <script type="text/javascript" src="~/plugins/media/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/plugins/media/js/DT_bootstrap.js"></script>
}

<h1>Menu Page</h1>