@model List<Dot.ERP.Objects.SysMenu>

@{
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}
@section cssSection{

}
@section jsSection{

}
<div id="ajax-modal" class="modal hide fade" tabindex="-1"></div>
